@font-face {
    font-family: 'aempirial';
    src: url('../fonts/aempirial/aempirial-webfont.woff2') format('woff2'),
         url('../fonts/aempirial/aempirial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'luxury-royale';
    src: url('../fonts/luxury-royale/luxury_royale_jf-webfont.woff2') format('woff2'),
         url('../fonts/luxury-royale/luxury_royale_jf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bello-script';
    src: url('../fonts/bello-script/bello-script.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// HELVETICA

@font-face {
    font-family: 'HelveticaNeueLTStd-HvCn';
    src: url('../fonts/helvetica-neue/HelveticaNeueLTStd-HvCn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTStd-Lt';
    src: url('../fonts/helvetica-neue/HelveticaNeueLTStd-Lt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTStd-LtCn';
    src: url('../fonts/helvetica-neue/HelveticaNeueLTStd-LtCn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTStd-LtIt';
    src: url('../fonts/helvetica-neue/HelveticaNeueLTStd-LtIt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTStd-BdCn';
    src: url('../fonts/helvetica-neue/HelveticaNeueLTStd-BdCn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTStd-BlkCn';
    src: url('../fonts/helvetica-neue/HelveticaNeueLTStd-BlkCn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTStd-ThCn';
    src: url('../fonts/helvetica-neue/HelveticaNeueLTStd-ThCn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTStd-UltLt';
    src: url('../fonts/helvetica-neue/HelveticaNeueLTStd-UltLt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTStd-UltLtCn';
    src: url('../fonts/helvetica-neue/HelveticaNeueLTStd-UltLtCn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTStd-Cn';
    src: url('../fonts/helvetica-neue/HelveticaNeueLTStd-Cn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}